<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">
                        Toltal Categorys
                    </h2>
                    <h1 class="title">
                        {{data?.categoreyCount}}
                    </h1>
                    <p><button class="button" [routerLink]="['/cafe/category']" >View Categorys</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">
                        Toltal Products
                    </h2>
                    <h1 class="title">
                        {{data?.productCount}}
                    </h1>
                    <p><button class="button" [routerLink]="['/cafe/product']" >View Product</button></p>

                </div>
            </div>
        </div>
    
    
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">
                        Toltal Bills
                    </h2>
                    <h1 class="title">
                        {{data?.billCount}}
                    </h1>
                    <p><button class="button" [routerLink]="['/cafe/bill']" >View Bills</button></p>

                </div>
            </div>
        </div>
    </div>

</body>