<div class="bg-image"></div>
<app-best-seller class="best-seller"></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> resto café
    </a>
    <ul>
      <a (click)="signupAction()" >Sign Up</a>
    </ul>
    <ul>
      <a (click)="signInAction()" >Sign In</a>
    </ul>
    <ul>
      <a (click)="forgetPasswordAction()" >Password Forget ?</a>
  </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2></h2>
</div>