<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Password Forget</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgetPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error
                    *ngIf="forgetPasswordForm.controls.email.touched && forgetPasswordForm.controls.email.invalid">
                    <span *ngIf="forgetPasswordForm.controls.email.errors.required ">this field is mandatory </span>
                    <span *ngIf="forgetPasswordForm.controls.email.errors.pattern">this field is invalid</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="handleSubmit()"
        [disabled]="!forgetPasswordForm.valid ">
        Send Password
    </button>

    <button mat-raised-button color="primary" mat-dialog-class>close</button>
</mat-dialog-actions>